body {
  background-color: hsl(47, 88%, 63%);
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.container {
 display: flex;
 flex-direction: column;
 border: 1px solid black;
 border-radius: 9px;
 width: 300px;
 height: fit-content;
 box-shadow: 8px 8px 0 black;
 background-color: hsl(0, 0%, 100%);
 justify-content: space-around;
 margin-top: 4em;
 margin-bottom: 1em;
 padding: 20px;

}
.img {
  align-items:center;
  justify-content: space-around;
}
svg {
  width: 100%;
  border: 1px;
  border-radius: 9px;
  margin-right: 20px;

}
.footer {
  display: flex;
  align-items: center;

}
.footer img {
  font-weight: 30px;
  height: 30px;
}
button {
  background-color:hsl(47, 88%, 63%) ;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}
.dark {
  color: black;
  font-size: 15px;
}
.html {
  color: black;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}
p {
  color: #777373;
}
.html:hover {
  color:hsl(47, 88%, 63%) ;
}